*.classpath
*.project
*.iml
*.log
*.bak
*.lock
*.orig
*.debug
.settings
.idea/
target/
min/
tmp/
logs/
bower_components/**/*.*
!bower_components/**/*.less
bower/
node_modules/
node/
.npm/
.tmp/
/target
/.tmp
